extends layout

block content
    h1= title
    p Welcome to our test  

    // Wrapper
    #wrapper

        // USER POINTS
        #userPoints
            h2 Your Points as of Round #{round -1}:
              |  #{points}
            p
                strong Name:
                |  <span id='userInfoName'></span>
                |  #{fullName}
        // /USER POINTS
        // /TIME REMAINING
        // ROUND NUMBER
        style.
          button#btnSteal {
            color: #f00;
          }
          button#btnHeal {
            color: #00FF00;
          }
        h2 Round:
          |  #{round}
        #roundNumber
            fieldset
                button#btnSteal Steal
                button#btnHeal Heal
                br
                //button#btnSubmit Submit
        // /ROUND NUMBER
        // COUNTDOWN CLOCK
        link(href='https://drive.google.com/uc?export=download&id=1Nz-Subh9prReybIbLouORjXiYqQCLsm0', rel='stylesheet')
        h1 Countdown Clock
        #clockdiv
          div
            span.days
            .smalltext Days
          div
            span.hours
            .smalltext Hours
          div
            span.minutes
            .smalltext Minutes
          div
            span.seconds
            .smalltext Seconds
            //  /COUNTDOWN CLOCK
    // /WRAPPER
    
